<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="container">    
        <h1>DESTINOS</h1>
        <section>
            <% data.forEach(post => { %>
                <article class="travels__card travels__card--horizontal">
                    <picture class="travels__img">
                        <img src="./img/<%= post.imagePath %>" alt="">
                    </picture>
                    <div>
                        <h3 class="travels__title"><%= post.title%></h3>
                        <h4 class="travels__subtitle"><%= post.subtitle%></h4>
                        <!-- <p class="travels__text"><%= post.summary%></p> -->
                        <a class="travels__link" href="/post/<%= post.id%>">Ver posteo</a>
                    </div>
                </article>
            <% });%> 
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>