<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <% console.log(data) %> 
    <main id="post" class="container flex-col post">
        <div class="post__data flex-col">
            <p class="post__date"><%= data.updatedAt; %></p>
            <p class="post__category"><%= data.category %></p>
            <h1 class="post__title"><%= data.title %></h1>
        </div>
        <figures class="post__picture">
            <img src="/img/<%= data.imagePath %>" alt="">
           <figcaption><%= data.caption %></figcaption>
        </figures>
        <article class="post__article flex-col">
            <p><%= data.subtitle %></p>
            <p class="post__description"><%= data.summary %></p>
        </article>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>